.flex-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.login {
    align-items: center;
    width: 50%;
    justify-content: center;
    display: flex;
    margin-top: 25%;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 0.5rem;
    padding: 25px;
    margin-inline: 25%;
}
.label {
    margin-top: 15px;
    text-align: start;
    display: flex;
}

.form-group{
    width: 100%;
}
i {
    margin-left: -30px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 5px;
}